body {
  font-family: sans-serif;
  margin: 10px 60px;
}

h1 {
  text-align: center;
  color: darkblue;
}

p {
  font-size: 18px;
  text-align: justify;
  color: darkblue;
  margin: 12px 5px 0 5px;
}

img {
  border-radius: 5px;
}

.banner-nitti {
  font-size: 14px;
  background-color: darkblue;
  color: lightblue;
  padding: 5px 20px;
  text-align: left;
  border-radius: 5px;
}
